.pokedex {
    width: 1024px;
    height: 768px;
    display: flex;
    flex-direction: column;
}

.pokedex_footer {
    padding: 40px;
    display: flex;
    justify-content: center;
    background-color: #ec5656;
    color: #ffffff;
}
.pokedex_list {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: auto;
    flex: 1;  
}
