.container {
    position: relative;
    height: 250px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 4px #d5d6dc;
    background-color: #f3f4f7;
    margin-bottom: 10px;
    margin-top: 10px;
}
.container:hover {
    box-shadow: 2px 4px #aeaeae;
}
.image_container {
    align-self: flex-start;
    width: 33%;
    height: 100%;
    padding: 2px;
}

.card_image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.details {
    flex: 1;
    display: flex;
    flex-direction: column;
    line-height: 200%;
    padding: 2px 2px 2px 20px;
}

.name_row {
    display: flex;
}

.name_title {
    flex: 1;
}

.select_to_action {
    width : 10%;
    color: #dc7777; 
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}

.card_row {
    display: flex;
    width: 100%;
    padding: 2px;
}

.row_title {
    height: 100%;
    width: 33%;
}

.row_data {
    height: 100%;
    flex: 1;
    position: relative;
}

.data_tube {
    border-radius: 12px;
    background-color: #e4e4e4;
    box-shadow: #d4d4d4;
    height: 100%;
    width: 100%;
    position: absolute;
}

.value_tube {
    border-radius: 12px;
    z-index: 1;
    height: 100%;
    background-color: sandybrown;
    position: absolute;
}
